body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #343434;
}

h1 {
  color: white;
}
h2 {
  color: #458688;
}

div {
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
}

.azul{
    background-color: blue;
}
.vermelho{
    background-color: red;
}
.verde{
    background-color: green;
}
.amarelo{
    background-color: yellow;
}
