.conteudo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.conteudo div{
    color: gray;
    border-bottom: 2px solid;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/*odd - linhas impares
 even - linhas pares */
.conteudo div:nth-child(odd){
    background-color:gray;
}