body{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
  border: 3px solid black;
  height: 640px;
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;
}

.elementos {
  border: 2px solid red;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.miolo{
    border: 1px solid green;
    width: 50px;
    height: 40px;
    background-color: brown;
}