*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: gray;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 50vh;
}

.items{
    background-color: wheat;
    border: 1px solid black;
    margin: 10px;
}

