body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.texto1,.texto2,.texto3{
    text-align: justify;
    width: 600px;
    background-color: gray;
    margin: 10px;
}

.texto1{
    border: 10px dotted darkblue;
    padding: 30px;
    box-sizing: content-box;
}

.texto2{
    box-sizing: border-box;
    padding: 30px;
    border: 30px dotted yellow;
}

.texto3{
    background-color: green;
    height: 30px;
}
