.container1{
    background-color: blue;
    color: white;
}

.container2{
    background-color: rgb(255, 200, 0);
    color: rgb(0, 0, 0);

}

.container3{
    background-color: #ffcc8f;
    color: #000;
}